<div class="container">
  <div class="row">
    <div class="col-md-5">
        {{> asignatura/asignaturaForm}}
        
    </div>
    <div class="col-md-7">
        {{> asignatura/asignaturaTabla}}
    </div>
  </div>

</div>