<nav class="navbar navbar-dark bg-negro mb-4">

<div class="container">
        
    <a href="/" class="navbar-brand"><h1>Mi aplicacion Escuela</h1></a>
    <a href="/"> <ul><h2>Asignatura</h2></ul></a>
    <a href="/estudiante" class="navbar-dark"><ul> <h2>Alumno</h2></ul></a>
    <a href="/profesor"> <ul><h2>Profesor</h2></ul></a>
</div>


</nav>